@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;

  background: #040404;
}

body, button, input, textarea {
  font-family: 'Open Sans', sans-serif;
}